{% extends "food2beer_app/includes/base.html" %}
	{% block content %}
		{% for brewery  in object_list %}
			<h1><a href = "{{ brewery.get_absolute_url }}">{{ brewery.name }}</a></h1>
			<h3>{{ brewery.city }}, {{ brewery.state }}</h3>
		{% endfor %}

		{% if page_obj.has_previous %}
        <a href="/{{ page_obj.previous_page_number }}/">Previous Page</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="/{{ page_obj.next_page_number }}/">Next Page</a>
        {% endif %}
	{% endblock %}
